version: 2
jobs:
  build:
    docker:
      - image: circleci/node:11-stretch

    steps:
      - checkout

      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          key: dependency-cache-

      - run: |
          yarn install
          sudo yarn global add codecov --prefix /usr/local

      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

      - run: yarn lint --format junit -o reports/junit/js-lint-results.xml
      - run:
          command: |
            yarn test --ci --testResultsProcessor="jest-junit"
            codecov
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - run: yarn build

      - store_test_results:
          path: reports/junit