@import "~primer-support/lib/mixins/layout.scss";
@import "~primer-support/lib/variables/layout.scss";
@import "~primer-utilities/lib/margin.scss";
@import "~primer-utilities/lib/layout.scss";

.author {
  @extend .mt-3;
  @extend .v-align-top;

  text-align: right;
  max-width: 190px;
  
  display: block;
  margin: auto;
  @include breakpoint('md') {
    display: inline-block;
    margin: initial;
  }
}
