@import "~primer-support/lib/mixins/layout.scss";
@import "~primer-support/lib/variables/layout.scss";
@import "~primer-utilities/lib/margin.scss";
@import "~primer-utilities/lib/padding.scss";

.results {
  @extend .mx-auto;
  width: 100%;
  @include breakpoint('lg') {
    width: 800px;
  }
}

.contributions {
  display: block;
  width: 100%;
  @extend .px-1;

  @include breakpoint('md') {
    width: 600px;
    display: inline-block;
    margin: auto;
    padding: 0;
  }
}